@use 'sass:map';
@use './variables' as *;

// global values are values that can be set on *any* css property.
$global-values: (initial, inherit, unset, revert, revert-layer);

// BREAKPOINTS
// ----------
$-finch-breakpoints: (
  sm: $breakpoint\sm,
  md: $breakpoint\md,
  lg: $breakpoint\lg,
  xl: $breakpoint\xl,
);
$breakpoints: () !default;
$breaks: map.merge($-finch-breakpoints, $breakpoints);

// SIZE SCALE
// ----------
$-finch-scales: (
  minor-second: $scale\minor-second,
  minor-second\detail: $scale\minor-second\detail,
  major-second: $scale\major-second,
  major-second\detail: $scale\major-second\detail,
  minor-third: $scale\minor-third,
  minor-third\detail: $scale\minor-third\detail,
  major-third: $scale\major-third,
  major-third\detail: $scale\major-third\detail,
  perfect-fourth: $scale\perfect-fourth,
  perfect-fourth\detail: $scale\perfect-fourth\detail,
  augmented-fourth: $scale\augmented-fourth,
  augmented-fourth\detail: $scale\augmented-fourth\detail,
  perfect-fifth: $scale\perfect-fifth,
  perfect-fifth\detail: $scale\perfect-fifth\detail,
  aperys-constant: $scale\aperys-constant,
  aperys-constant\detail: $scale\aperys-constant\detail,
  golden-ratio: $scale\golden-ratio,
  golden-ratio\detail: $scale\golden-ratio\detail,
  theodorus-constant: $scale\theodorus-constant,
  theodorus-constant\detail: $scale\theodorus-constant\detail,
);
$scales: () !default;
$-modular-scales: map.merge($-finch-scales, $scales);

$scale: major-third !default;
$modular-scale: map.get($-modular-scales, $scale);
$detail-scale: major-third\detail !default;
$modular-scale\detail: map.get($-modular-scales, $detail-scale);


// PROPERTY LABELS
// ----------
// These labels represent the text that will be used in a utility class for that
// given property. So, for example, if utility classes are generated for the 'background-color'
// property, the class name will be `.bg:red@md` etc.
$-prop-labels: (
  color: 'color',
  background-color: 'bg',
  font-size: 'font-size',
  font-weight: 'weight',
  font-family: 'family',
  line-height: 'line-height',
  letter-spacing: 'letter-spacing',
  text-indent: 'indent',
  text-transform: 'text-transform',
  word-spacing: 'word-spacing',
  word-break: 'word-break',
);
$labels: () !default;
$property-labels: map.merge($-prop-labels, $labels);
