@use 'sass:list';
@use 'sass:map';
@use '../config';
@use '../config/mixins' as m;
@use '../utils' as *;

$-utility-allowed: (
  // margin properties
  margin, margin-block, margin-inline, margin-block-start, margin-block-end, margin-inline-start,
  margin-inline-end, margin-top, margin-right, margin-bottom, margin-left,
  // padding properties
  padding, padding-block, padding-inline, padding-block-start, padding-blocke-end,
  padding-inline-start, padding-inline-end, padding-top, padding-right, padding-bottom, padding-left,
  // overflow properties
  overflow, overflow-x, overflow-y,
  // border properties
  border-width, border-block-width, border-inline-width, border-block-start-width, border-block-end-width,
  border-inline-start-width, border-inline-end-width, border-top-width, border-right-width,
  border-bottom-width, border-left-width,
  border-radius, border-top-right-radius, border-bottom-right-radius, border-bottom-left-radius,
  border-top-left-radius,
  // others
  display, position, z-index
);

$utils: () !default;
$responsive-utils: () !default;
$layout-utils: () !default;

$-finch-keywords: (
  xs: map.get(config.$modular-scale, 100),
  sm: map.get(config.$modular-scale, 300),
  md: map.get(config.$modular-scale, 400),
  lg: map.get(config.$modular-scale, 700),
  xl: map.get(config.$modular-scale, 900),
);
$keywords: () !default;
$-presets: map.merge($-finch-keywords, $keywords);
$-all-sizes: map.merge(config.$modular-scale, $-presets);

@forward './mixins' with ($all-sizes: $-all-sizes, $utils: $layout-utils);

/// USE FUNCTION
/// ----------
/// The `use` function returns a size taken from a specified scale (either the default,
/// modular scale, or the 'detail' scale).
/// @param $size {Number} an integer between 0 - 1000, in increments of 100
/// @param $detail {Boolean} whether or not to use the 'detail' scale
/// @return {Length}
///
/// @example use(600); // 1.563rem
@function use($size, $detail: false) {
  $value: map.get($-all-sizes, $size);
  @if $detail {
    $value: map.get(config.$modular-scale\detail, $size);
  }

  @if not $value {
    @warn 'No size found for: "#{$size}"';
    @return null;
  }

  @return $value;
}

/// /* -------------------------------- *\
///    UTILITIES
/// \* -------------------------------- */

$-border-width-values: map.merge(config.$modular-scale\detail, (thin: thin, medium: medium, thick: thick));
$-border-radius-values: map.merge(config.$modular-scale\detail, (none: 0, max: 100vw));
$-overflow-values: (visible, hidden, clip, scroll, auto);

$-prop-values: ();
$-prop-values: (
  overflow: $-overflow-values, overflow-x: $-overflow-values, overflow-y: $-overflow-values,
  display: (block, inline, inline-block, flex, inline-flex, grid, inline-grid, flow-root, none, contents, table, table-row, list-item),
  position: (static, relative, absolute, fixed, sticky),
  z-index: (auto),
);
@each $prop in $-utility-allowed {
  $-prop-values: map.set($-prop-values, $prop, null);
}

$-prop-values: map-set-many($-prop-values, width, $-border-width-values);
$-prop-values: map-set-many($-prop-values, radius, $-border-radius-values);
$-prop-values: map-set-many($-prop-values, padding, map.merge(config.$modular-scale, $-presets));
$-prop-values: map-set-many($-prop-values, margin, map.merge(config.$modular-scale, $-presets));

@each $prop in $utils {
  @if list.index($-utility-allowed, $prop) {
    @include m.gen-utils($prop, map.get($-prop-values, $prop));
  }
}

@each $prop in $responsive-utils {
  @if list.index($-utility-allowed, $prop) {
    @include m.gen-utils($prop, map.get($-prop-values, $prop), $responsive: true);
  }
}
