@use 'sass:list';
@use 'sass:map';
@use '../global/config';
@use '../global/mixins' as m;
@use 'variables' as *;

@forward 'functions';
@forward 'variables';

$-utility-defaults: (
  font-size: false,
  font-weight: false,
  font-family: false,
  line-height: false,
  letter-spacing: false,
  text-indent: false,
  text-transform: false,
  word-spacing: false,
  word-break: false,
);

$utils: () !default;
$utilities: map.merge($-utility-defaults, $utils);
$responsive-utils: () !default;
$responsive: map.merge($-utility-defaults, $responsive-utils);


$-finch-font-families: (
  sans-serif: $family\sans-serif,
  serif: $family\serif,
  cursive: $family\cursive,
  monospace: $family\monospace,
);
$font-families: () !default;
$-families: map.merge($-finch-font-families, $font-families);

$-finch-fonts: (
  body: $font\body,
  titles: $font\titles,
  lead: $font\lead,
  emphasis: $font\emphasis,
  bold: $font\bold,
  links: $font\links,
  code: $font\code,
  handwriting: $font\handwriting,
);
$fonts: () !default;
$-font-declarations: map.merge($-finch-fonts, $fonts);

/// USE FUNCTION
/// ----------
/// The use function is for setting a font from the branded 'font-declarations' map
/// @param $font-name {String} the name of one of the brand fonts, e.g. 'body'
/// @return {String|null} the value of the font (normal normal normal 16px/24px 'Open Sans')
/// @example
/// h1 {
///   font: typ.use(titles);
/// }
@function use($font-name) {
  $font: map.get($-font-declarations, $font-name);
  @if $font {
    @return $font;
  }

  @warn 'Could not find font for "#{$font-name}"';
  @return null;
}

/// /*  --------------------------------  *\
///  *  UTILITY CLASSES
/// \*  --------------------------------  */
///
/// The prop-values map provides a lookup for the values that should be used for each
/// typography property when iterating to create utility classes.
$-prop-values: (
  font-size: config.$modular-scale,
  font-weight: (normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900),
  font-family: $-families,
  line-height: config.$modular-scale,
  letter-spacing: config.$modular-scale\detail,
  text-align: (left, center, right, start, end, justify, match-parent),
  text-indent: config.$modular-scale,
  text-transform: (none, capitalize, uppercase, lowercase, full-width, full-size-kana),
  word-spacing: config.$modular-scale,
  word-break: (normal, break-all, keep-all),
);

@each $prop, $flag in $utilities {
  @if $flag or map.get($responsive, $prop) {
    @include m.gen-utils($prop, map.get($-prop-values, $prop), $responsive: map.get($responsive, $prop));
  }
}