@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

@use '../utils';

/// CREATE SHADES
/// ----------
/// A color function that generates a map for a given color, using the initial value as a base and
/// adjusting the lightness to create values from `0` - `1000` in increments of 100.
/// The original colour will be included twice in the map. Once according to it's lightness, and once
/// under the key of `base`, for ease of reference.
///
/// @param $clr {Color} any color value that will be used to calculate the rest of the map.
/// @return {Map} an map of color values assigned to numbers 0, 100, 200...900, 1000.
///
@function create-shades($clr) {
  // initialise map with a single key, meaning the original colour can always be accessed at `base`.
  $shades: (base: $clr);
  // get initial values of the color's lightness and, from that, its "index".
  // I.e., a color with lightness `60%` would create an `$init: 6`.
  $lightness: color.lightness($clr);
  $init: math.floor(math.div($lightness, 10%));

  @for $i from 0 through 10 {
    $key: $i * 100;
    $value: color.scale($clr, $lightness: -10% * ($init - $i));
    $shades: map.set($shades, $key, $value);
  }

  @return $shades;
}

@debug create-shades(#ff0000); // expect Map
@debug "----------";

/// CREATE VARIANTS
/// ----------
/// The `create-variants` function returns a map of colour variations, based on a
/// given, initial colour, which is included in the return value as the 'base'.
@function create-variants($color) {
  $variants: (
    base: $color,
    dark: color.scale($color, $lightness: -20%),
    bright: color.scale($color, $lightness: 30%),
    transparent: color.scale($color, $alpha: -80%),
    translucent: color.scale($color, $alpha: -25%),
    grayscale: color.grayscale($color),
    dull: color.scale($color, $saturation: -30%),
    vivid: color.scale($color, $saturation: 40%),
  );

  @return $variants;
}

/// TO HEX
/// ----------
/// This conversion function turns a color value of any color space into a hex value.
/// @param $val {Color} a color value that is to be converted. This can be any color space, rgb,
/// hsl etc. A hex value can be passed, but this would obviously be redundant.
/// @return {Color} the color expressed in hexadecimal.
///
/// @example to-hex(rgb(255, 0, 0)) // #ff0000
// @todo - implement $alpha channel support
@function to-hex($val, $alpha: false) {
  $channels: (
    red: color.red($val),
    green: color.green($val),
    blue: color.blue($val),
  );

  // for each channel (red, blue, green), we want to convert
  // the decimal number to a hexadecimal and, when the hex number
  // is only 1 digit, force it to be 2 by padding with an initial `0`.
  $output: ();
  @each $channel, $value in $channels {
    @if $value > 0 {
      $hexValue: utils.to-radix($value, 16);
      @if $value < 16 { $hexValue: "0#{$hexValue}"; }
      // push each channel into the `$output` map, e.g. (red: 255, green: 0...)
      $output: map.set($output, $channel, $hexValue);
    } @else {
      $output: map.set($output, $channel, '00');
    }
  }

  @if $alpha {
    $opacity: 255 * color.alpha($val);
    $opacityHex: utils.to-radix($opacity, 16);
    @return #{'#'}#{map.get($output, red)}#{map.get($output, green)}#{map.get($output, blue)}#{$opacityHex};
  }

  @return #{'#'}#{map.get($output, red)}#{map.get($output, green)}#{map.get($output, blue)};
}

@debug "@function to-hex: #{to-hex(rgb(177, 2, 28))}"; // expect #b2021c
@debug "@function to-hex: #{to-hex(hsl(270, 50%, 80%))}"; // expect ccb3e6
@debug "@function to-hex: #{to-hex(violet)}"; // expect ee82ee
@debug "@function to-hex: #{to-hex(rgba(177, 2, 28, .5), $alpha: true)}"; // expect #b1021c80
@debug "----------";


@warn 'Conversion functions will be deprecated by Sass Color Spaces, which has a `to-space` function';
/// TO RGB
/// ----------
/// This conversion function turns a color value of any color space into its `rgb` representation.
/// @param $val {Color} a color value that is to be converted. This can be any color space, hex, hsl, etc.
/// An rgb value can be passed, but this would obviously be redundant.
/// @return {Color} an `rgb` representation of the color
///
/// @example to-rgb(#ff0000) // rgb(255, 0, 0)
@function to-rgb($val, $alpha: false) {
  $red: color.red($val);
  $green: color.green($val);
  $blue: color.blue($val);

  @if $alpha {
    // this is a bit ugly, but we want to guarantee that we have maximum 2 decimal places
    // in the alpha value. `color.alpha` returns a number between 1 and 0, so we multiply by
    // 100, round down, and then divide by 100. E.g. 0.510987 -> 51.0987 -> 51 -> 0.51.
    $opacity: math.div(math.floor(color.alpha($val) * 100), 100);
    @return rgba($red, $green, $blue, $opacity);
  }

  @return rgb($red, $green, $blue);
}

@debug "@function to-rgb: #{to-rgb(#B1021C)}"; // expect rgb(177, 2, 28)
@debug "@function to-rgb: #{to-rgb(hsl(270, 50%, 80%))}"; // expect rgb(204, 179, 230)
@debug "@function to-rgb: #{to-rgb(indigo)}"; // expect rgb(75, 0, 130)
@debug "@function to-rgb: #{to-rgb(#b1021c80, $alpha: true)}"; // expect rgba(177, 2, 28, .5);
@debug "----------";

/// TO HSL
/// ----------
/// This conversion function turns a color value of any color space into its `hsl` representation.
/// @param $val {Color} a color value that is to be converted. This can be any color space, hex, rgb etc.
/// An hsl values can be passed, but this would obviously be redundant.
/// @return {Color} an `hsl` representation of the color
///
/// @example to-hsl(#b1021c) // hsl(351, 98%, 35%)
@function to-hsl($val) {
  $hue: math.round(color.hue($val));
  $saturation: math.round(color.saturation($val));
  $lightness: math.round(color.lightness($val));

  @return hsl($hue, $saturation, $lightness);
}

@debug "@function to-hsl: #{to-hsl(#B1021C)}"; // expect hsl(351, 98%, 35%)
@debug "@function to-hsl: #{to-hsl(rgb(60, 171, 236))}"; // expect hsl(202, 82%, 58%)
@debug "----------";

@warn '`red`, `green` and `blue` channels will be deprecated by Sass Color Spaces';
/// LUMINANCE
/// ----------
/// The `luminance` function returns the luminance of a given color.
/// @param $color {Color} the color from which the luminance will be calculated
/// @return {Number} the relative luminance of the color
/// @see https://en.wikipedia.org/wiki/Relative_luminance
/// @see https://planetcalc.com/7779/
@function luminance($color) {
  // in Sass Color Spaces, sRGB will *not* be considered a legacy space,
  // and I should, therefore, be able to do *something like* this:
  // $color: color.to-space($color, srgb);
  // and then get the red, blue, green channels from $color, this will also
  // remove the need to do the `/255` division below, since that's what sRGB
  // actually gives us - a value between 0 - 1 for each channel.
  $real-values: (
    red: math.div(color.red($color), 255),
    green: math.div(color.green($color), 255),
    blue: math.div(color.blue($color), 255),
  );

  $linear-values: ();
  @each $key, $value in $real-values {
    $result: math.div($value, 12.92);
    @if $value > 0.03928 {
      $result: math.pow(math.div(($value + 0.055), 1.055), 2.4);
    }

    $linear-values: map.merge($linear-values, ($key: $result));
  }

  $red-lum: map.get($linear-values, red) * 0.2126;
  $green-lum: map.get($linear-values, green) * 0.7152;
  $blue-lum: map.get($linear-values, blue) * 0.0722;

  @return ($red-lum + $green-lum + $blue-lum) * 100;
}

@debug "@function luminance: #{luminance(#FA7014)}";
@debug "----------";

/// CONTRAST
/// ----------
/// The `contrast` function compares 2 colours and checks the contrast in the relative
/// luminance of each colour. It returns a number that would be considered the first part
/// of a ratio (i.e. <number>:1). The function will print warnings in the sass compiler
/// if the ratio fails a11y standards.
/// @param $first {Color} the first of the two colours that are to be compared
/// @param $second {Color} the second of the two colours that are to be compared
/// @return {Number} the contrast ratio between the 2 numbers
@function contrast($first, $second) {
  // get the luminance of the passed colors
  $lum-first: luminance($first);
  $lum-second: luminance($second);

  // N.B. when (if) you ever look up the formula for contrast checking, it'll tell you (L1 + 0.05) / (L2 + 0.05),
  // however this assumes a value of L that is between 0 - 1, but our luminance function returns a *percentage*
  // value, between 0 - 100. We could divide each luminance by 100 so the above formula works, but I thought it
  // was simpler to simple multiply the `0.05` by 100 instead, and therefore + 5 in both cases.
  $contrast: math.div(math.max($lum-first, $lum-second) + 5, math.min($lum-first, $lum-second) + 5);
  @if $contrast < 4.5 {
    @warn 'A11y warning: colors #{$first} and #{$second} do not have sufficient contrast';
  } @else if $contrast < 7 {
    @warn 'A11y warning: colors #{$first} and #{$second} have a low contrast and should only be used in combination for large text or graphical objects';
  }

  @return $contrast;
}

@debug "@function contrast: #{contrast(#FA7014, #222)}"; // expect 19.4...