@use 'sass:color';

// FINCH RED
// ----------
// #B1021C, rgb(177, 2, 28)
//
// pairs with:
//  - white, AAA.
//  - finch-light, AA.
$finch-red: hsl(351, 98%, 35%) !default;


// FINCH BLUE
// ----------
// #3CABEC, rgb(60, 171, 236)
//
// pairs with:
//  - black, AAA.
//  - finch-dark, AA.
$finch-blue: hsl(202, 82%, 58%) !default;


// FINCH GREEN
// ----------
// #425E21, rgb(66, 94, 33)
//
// pairs with:
//  - white, AAA.
//  - finch-light, AA.
$finch-green: hsl(88, 48%, 25%) !default;

// FINCH YELLOW
// ----------
// #F7C326 rgb(247, 195, 38)
//
// pairs with:
//  - black, AAA.
//  - finch-dark, AAA.
//  - finch-purple, AA.
$finch-yellow: hsl(45, 93%, 56%) !default;

// FINCH PINK
// ----------
// #E071AC rgb(224, 113, 172)
//
// pairs with:
//  - black, AAA.
//  - finch-dark, AA.
$finch-pink: hsl(328, 64%, 66%) !default;

// FINCH PURPLE
// ----------
// #8213BE, rgb(130, 19, 190)
//
// pairs with:
//  - white, AAA.
//  - finch-light, AAA.
//  - finch-yellow, AA.
$finch-purple: hsl(279, 82%, 41%) !default;

// FINCH ORANGE
// ----------
// #FF670F, rgb(255, 103, 15)
//
// pairs with:
//  - black, AAA.
//  - finch-dark, AA.
$finch-orange: hsl(22, 100%, 53%) !default;

// FINCH INDIGO
// ----------
// #8794DE, rgb(135, 148, 222)
//
// pairs with:
//  - black, AAA.
//  - finch-dark, AA.
$finch-indigo: hsl(231, 57%, 70%) !default;

// FINCH VIOLET
// ----------
// #7500EB, rgb(117, 0, 235)
//
// pairs with:
//  - white, AAA.
//  - finch-light, AA.
$finch-violet: hsl(270, 100%, 46%) !default;

// FINCH LIGHT
// ----------
// #FBF7FC, rgb(251, 247, 252)
//
// pairs with:
//  - black, AAA.
//  - finch-dark, AAA.
//  - finch-purple, AAA.
//  - finch-red, AA.
//  - finch-green, AA.
//  - finch-violet, AA.
$finch-light: hsl(285, 50%, 98%) !default;

// FINCH DARK
// ----------
// #212121, rgb(33, 33, 33)
//
// pairs with:
//  - white, AAA.
//  - finch-light, AAA.
//  - finch-yellow, AAA.
//  - finch-blue, AA.
//  - finch-pink, AA.
//  - finch-orange, AA.
//  - finch-indigo, AA.
$finch-dark: hsl(0, 0%, 13%) !default;