@use '../../src/color' as clr;
@use '../../src/typography' as typ;
@use '../../src/math/index' as mth;
@use '../../src/utils';

h1 {
  font: typ.use(titles);
  color: clr.use(red, 800);
}

p {
  font: typ.use(handwriting);
}

a {
  font: typ.use(links);
  color: clr.use(red);
}

button {
  padding: 1rem;
  @include clr.use(red, $target: background-color, $options: (hover: green));
}